@charset "UTF-8";

section {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 400px;
}

div#photo {
    border-radius: 10px 0px 0px 10px;
    height: 100%;
    width: 250px;
}

div#description {
    width: 250px;
    padding: 0px 30px 30px;
}

button > div {
    left: 55px;
}
