@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

:root {
    --font: 'Outfit';
}

body {
    background-color: hsla(207, 44%, 81%, 0.5);
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

main {
    background: white;
    width: 260px;
    margin: auto;
    border-radius: 10px;
    padding: 13px 10px;
    font-family: var(--font);
    text-align: center;
}

#code {
    text-align: center;
    border-radius: 10px;
    width: 100%;
}

h1 {
    font-weight: 700;
    font-size: 20px;
    padding: 2px 5px 0px 5px;
}

p {
    font-weight: 400;
    font-size: 15px;
    color: gray;
}
